/* Seção 'About' */
.about-container {
  background-color: #1b1b1b;
  padding: 50px 10%;
  color: #fff;
  text-align: left;
  min-height: 100vh; /* Alterado de 'height' para 'min-height' */
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  overflow: hidden; /* Evitar que o conteúdo transborde */
}

/* Título da Seção */
.about-container h2 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
}

/* Parágrafo da Seção */
.about-container p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 40px;
  color: #ccc;
}

/* Título das Tecnologias */
.about-container h3 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #007bff; 
}

/* Container dos Balões de Tecnologias */
.balao-tecnologias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Alinhar ao centro para responsividade */
  gap: 20px;
}

.balao-tecnologia {
  display: flex;
  align-items: center;
  background-color: #444c56;
  color: #ffffff;
  padding: 15px 25px;
  border-radius: 8px;
  min-width: 180px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  box-sizing: border-box;
}
.balao-tecnologia img {
  width: 50px;
  margin-right: 15px;
}

/* Balão Ativo (visível) */
.balao-tecnologia.ativo {
  opacity: 1;
  transform: translateY(0);
}

/* Responsividade */
@media (max-width: 1024px) {
  .about-container {
    padding: 40px 5%; /* Reduzir padding em telas menores */
  }
  
  .balao-tecnologia {
    min-width: 150px; /* Ajustar o tamanho mínimo dos balões */
    padding: 10px 15px;
  }
}

@media (max-width: 768px) {
  .about-container {
    padding: 30px 5%; /* Reduzir padding em dispositivos móveis */
  }
  
  .balao-tecnologias {
    justify-content: center;
    gap: 15px; /* Reduzir o espaçamento entre os balões */
  }

  .balao-tecnologia {
    min-width: 120px; /* Reduzir o tamanho dos balões ainda mais em telas menores */
    padding: 10px 10px;
  }

  .balao-tecnologia img {
    width: 40px; /* Ajustar o tamanho da imagem nos balões */
    margin-right: 10px;
  }

  .about-container h2 {
    font-size: 36px; /* Ajustar o tamanho da fonte do título */
  }

  .about-container p {
    font-size: 18px; /* Ajustar o tamanho da fonte do parágrafo */
  }
}

.balao-tecnologia span {
  font-size: 1rem;
  color: #fff;
  margin-left: 15px;
  margin-right: 5px;
}
