.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 60px; /* Largura da barra lateral */
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
  color: white;
  z-index: 1000; /* Certifica-se de que a barra esteja acima do conteúdo */
}

.menu-btn {
  background-color: #ec4a2c;
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 0; /* Isso cria o quadrado */
  font-size: 24px;
  margin-bottom: 20px;
}

.menu {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.menu.open {
  display: flex;
}

.menu p {
  margin: 10px 0;
}

.social-icons {
  display: flex;
  flex-direction: column;
}

.social-icons a {
  color: white;
  font-size: 20px;
  margin: 10px 0;
  text-decoration: none;
}

.social-icons a:hover {
  color: #ec4a2c;
}
